<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <h1>THIS IS CANDIDATE</h1> 
    <h2>Select ACTION for more DETAILS</h2> 
    
    <table>
    <thead>
        <tr>
            <th>ID CANDIDATE</th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>BIRTHDAY</th>
            <th>BIRTHPLACE</th>
            <th>ADDRESS</th>
            <th>CITY</th>
            <th>EMAIL</th>
            <th>PHONE</th> 
            <th>More Actions</th>                                              
        </tr>
    </thead>
    <tbody>
        <tr>                   
            <td>{{candidate.idCandidate}}</td>
            <td>{{candidate.name}}</td>
            <td>{{candidate.surname}}</td>
            <td>{{candidate.birthday}}</td>
            <td>{{candidate.birthPlace}}</td>
            <td>{{candidate.address}}</td>
            <td>{{candidate.city}}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.phone}}</td>
            <td>
             <form (ngSubmit)="goToUpdateCandidate()">
                <input type="hidden" [(ngModel)] ="candidate.idCandidate" [ngModelOptions]="{standalone: true}" value="{{candidate.idCandidate}}">
                <button type="submit">UPDATE</button>
            </form>
                            
            <form (ngSubmit)="deleteCandidateOnResPage()">
                <input type="hidden" [(ngModel)] ="candidate.idCandidate" [ngModelOptions]="{standalone: true}" value="{{candidate.idCandidate}}">
                <button type="submit">DELETE</button>
           </form>
            
            <form (ngSubmit)="showCandidateSkills()">
                <input type="hidden" [(ngModel)] ="candidate.idCandidate" [ngModelOptions]="{standalone: true}" value="{{candidate.idCandidate}}">
                <button type="submit">SKILLS</button>
            </form>
        
            <form (ngSubmit)="showCandidateJobInterviews()">
                <input type="hidden" [(ngModel)]="candidate.idCandidate" [ngModelOptions]="{standalone: true}" value="{{candidate.idCandidate}}">
                <button type="submit">JOB INTERVIEWS</button>
            </form>
    
            <form (ngSubmit)="showCandidateEducation()">
                <input type="hidden" [(ngModel)]="candidate.idCandidate" [ngModelOptions]="{standalone: true}" value="{{candidate.idCandidate}}">
                <button type="submit">EDUCATION</button>
            </form>
    
            <form (ngSubmit)="showCandidateWorkExperience()">
                <input type="hidden" [(ngModel)]="candidate.idCandidate" [ngModelOptions]="{standalone: true}" value="{{candidate.idCandidate}}">
                <button type="submit">WORK EXPERIENCE</button>
            </form>

            </td>
        </tr>
       
    </tbody>
    </table>
</div>