<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">

    <h1>JOB INTERVIEW</h1>
    <h2>This is Candidates' job interview</h2>
    <table>
    <thead>
        <tr>
            <th>ID JOB INTERVIEW</th>
            <th>ID CANDIDATE</th>
            <th>DATE</th>
            <th>ID STATE JOB INTERVIEW</th>
            <th>OUTCOME</th>
            <th>NOTES</th>
            <th>ID EMPLOYEE</th>
            <th>UPDATE</th>               
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jobInterview of jobInterviews">
            <td>{{jobInterview.idJobInterview}}</td>
            <td>{{jobInterview.candidate.idCandidate}}</td>
            <td>{{jobInterview.date}}</td>
            <td>{{jobInterview.stateJobInterview.idStateJobInterview}}</td>
            <td>{{jobInterview.outcome}}</td>
            <td>{{jobInterview.notes}}</td>
            <td>{{jobInterview.employee.idEmployee}}</td>
            <td>
                <button (click)="goToUpdateJobInterview(jobInterview.idJobInterview)">UPDATE</button>
            </td>
            <td>
                <button (click)="deleteJobInterview(jobInterview.idJobInterview)">DELETE</button>
            </td>
            </tr>					 
        </tbody>
    
    </table>
    
    <div>
    <a href="">Add New Job Interview</a>
    <!--Questo link non funziona perché non mi andava di creare Add Job Interview ^^|||-->
    <!--C'è un problema in questo metodo in Eclipse, dopo l'aggiunta restituisce l'elenco
    completo ma il nuovo ADD è vuoto.-->
    </div>
    
    </div>