<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>SKILL</h1>
    <h2>SKILL BY ID: RESULTS!</h2>

    <table *ngIf="skills && skills.length > 0">
        <thead>
            <tr>
                <th>ID Skill</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skills">
                <td>{{ skill.idSkill }}</td>
                <td>{{ skill.title }}</td>
                <td>{{ skill.description }}</td>
                <td>
                    <a href="${pageContext.request.contextPath}/skill/updateSkillForm?idSkill=${sList.idSkill}">
                        <button>Update</button>
                    </a>
                    <a>
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!skills || skills.length === 0">
        <p>Non ci sono skill associate a questo candidato.</p>
    </div>
</div>