<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <h1>SKILL</h1>
    <h2>SKILL BY ID: RESULTS!</h2>

    <!--'*ngIf' è il corrispettivo dell'If. In questo caso sto dicendo: se 'skill' è
    definita ed è > 0 allora mostra la tabella e il suo contenuto.-->
    <table *ngIf="skills && skills.length > 0">
        <thead>
            <tr>
                <th>ID Skill</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!--Questo invece è il corrispettivo del forEach. 'skills' è la lista e 
            'skill' è il singolo elemento, mentre idSkill, title e description sono
            attributi di 'skill'.-->
            <tr *ngFor="let skill of skills">
                <td>{{ skill.idSkill }}</td>
                <td>{{ skill.title }}</td>
                <td>{{ skill.description }}</td>
                <td>
                    <!--Passo in ingresso l'ID della skill che voglio aggiornare/eliminare-->
                    <button (click) = "goToUpdateSkills(skill.idSkill)">Update</button>
                    <button (click) = "deleteCandidateSkill(skill.idSkill)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!skills || skills.length === 0">
        <p>Non ci sono skill associate a questo candidato.</p>
    </div>
</div>