<div class="container">

    <h1>SKILL</h1>
    <h2>This is Candidate's skill</h2>
    
    <table>
        <thead>
            <tr>
                <th>Id Skill</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>  
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${sList.idSkill}</td>
                <td>${sList.title}</td>
                <td>${sList.description}</td>                
                <td>
                  <form action="${pageContext.request.contextPath}/skill/preEliminaSkill" method="Get">
                <input type="hidden" name="idSkill" value="${sList.idSkill}">
        <button type="submit">UPDATE</button>
                </form>                       
          <form action="${pageContext.request.contextPath}/skill/preAggiornaSkill" method="Get">
         <input type="hidden" name="idSkill" value="${sLista.idSkill}">
      <button type="submit">DELETE</button>
      </form></td>
                    </tr>
                </c:forEach>
            </tbody>
        </table>    
        </div>
            <a href="${pageContext.request.contextPath}/home"><strong>GO HOME</strong></a>